body{
  text-align: center;
}
button{
  width: 100px;
  height: 30px;
  margin: 0 2%;
}

p{
  font-size: 40px;
  font-weight: bold;
}

.container{
  border: 2px solid black;
  margin: 3% auto auto auto;
  width: 700px;
  height: 400px;
}